.container-fluid {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/lightning.jpg");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-fluid img {
  width: 30vw;
  padding: 0;
  margin: 0 35vw;
  text-align: center;
}
.jumbotron {
  background-color: white;
  position: relative;
  margin: 2em 5em;
}
.jumbotron h2 {
  font-family: 'Special Elite', cursive;
  margin: 2em 0em;
  line-height: 1.75em;
}

 .btn-danger {
  padding: .25em .25em 0em .25em;
  border: 1px solid red;
  border-radius: 6px;
  box-shadow: 1px 1px 2px black;
}
.ltrspace button{
  letter-spacing: .15em;
}
#emergency {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: 'Special Elite', cursive;
  padding: .75em 1.5em;
  margin-top: 1em;
}
.btn-warning {
 padding: .5em .5em 0em .5em;
 border: 1px solid yellow;
 border-radius: 6px;
 box-shadow: 1px 1px 2px black;
 color: red;
 line-height: 1.75em;
 margin-bottom: .5em;
}
#answer {
  display: none;
  position: relative;
  font-family: 'Special Elite', cursive;
  padding: .75em 1.5em;
  margin-top: 1em;
  font-size: 1.5em;
  color: red;
  margin-bottom: 2em;
}
#originalButton {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: 'Special Elite', cursive;
  padding: .75em 1.5em;
  margin-top: 1em;
  line-height: 2.5em;
}
#original {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: 'Special Elite', cursive;
  padding: .75em 1.5em;
  margin-top: 1em;
}
#showOriginal {
    line-height: 2.5em;
}
.black {
  color: black;
}

@media screen and (max-width: 900px) {
  .container-fluid img {
    width: 60vw;
    padding: 0;
    margin: 0 20vw;
    text-align: center;
  }
  .jumbotron {
    background-color: white;
    position: relative;
    margin: 1em 2em;
    height: 30em;
  }
}
